
/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #F7F8F9;
}
.background {
  /* background-color: #3E6C98; */
  background-image: linear-gradient(#3E6C98 70%, #1c5380);
  height: 300px;
  position: absolute;
  width: 100%;
  display: block;
  z-index: -1;
}
.mainContent {
  padding-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 850px;
  height: 500px;
}
.col1 {
  width: 300px;
  float: left;
}
.col2 {
  width: 500px;
  float: right;
}
footer {
  clear: both;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.col2_header_wrapper {
  background-color: #3E6C98;
  display: inline-block;
  width: 100%;
  padding-bottom: 40px;
}
.col2_header > img {
  float: left;
}
.col2_header > button {
  float: right;
}
.loginBtn {
  margin-top: 15px;
  color: white;
  line-height: 30px;
  background-image: linear-gradient(rgb(89, 142, 192) 50%, #3E6C98);
  border: none;
  font-family: inherit;
  padding: 5px 15px;
  border-radius: 3px;
  border: 2px solid rgb(44, 91, 134);
  font-size: 10pt;
} 
.loginBtn > img {
  vertical-align: middle;
  padding-right: 5px;
}
.col2_body {
  clear: both;
  padding: 20px;
  border-radius: 5px;
  /* background-color: #ffffff; */
  /* background-image: linear-gradient(orange,red);  */
  background-image: linear-gradient(white, #F7F8F9 80%);
  position: relative;
  z-index: 1;
}
.col2_body > h2 {
  color: #06365f;
  font-size: 16pt;
  margin-bottom: 20px;
  font-weight: 800;
}
.col2_body > p {
  margin-bottom: 15px;
}
.download_btns {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.iphoneDownload {
  margin-right: 15px;
}
footer > a, footer > .copy {
  font-size: 8pt;
  text-decoration: none;
  margin-right: 2px;
  margin-left: 2px;
}
footer > a {
  color: rgb(89, 142, 192);
  font-weight: 800;
}
