/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

h1 {
  color: #06365f;
}
header {
  margin-right: 50px;
  margin-top: 70px;
  float: right;
  display: inline-block;
}
header>img {
  padding-right: 100px;
}

button {
  background-color: rgb(56,99,145);
  width: 100px;
  height: 50px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  clear: left;
}

button img {
  float: left;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #1c5380;
  background: linear-gradient(180deg, #1c5380 50%, #FFFFFF 50%);
  height: 100%;
  clear: left;
}

article {
  background-color: white;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-image: url('images/frame.png');
  clear: left;
  display: inline-block;
  
}

footer {
  background-color: white;
  position: relative;
  display: inline-block;
}


#phones {
  float: left;
  margin-left: 250px;
  margin-top: 50px;
}

span {
  font-weight: bold;
}
